$jinisha-primary-color: #192146;





//background
$jinisha-background-clr: #fafafa;
$jinisha-background-color-light:  #2c3973;
$jinisha-header-backclr: #192146;

//font
$jinisha-font-color-light: white;
$jinisha-primary-font-color:  #00496a;