.UNPAID{
    background: #ff9100;
    padding: 2px 9px;
    color: #fff;
    border-radius: 36px;
    font-weight: 700;
    font-size: 10px;
  }
  .PAID{
    background: #34d234;
    padding: 2px 9px;
    color: #fff;
    border-radius: 36px;
    font-weight: 700;
    font-size: 10px;
  }